<launch>
    
    <!--- Sim Time -->
    <!-- <param name="/use_sim_time" value="true" /> -->

    <!-- Static fake TF transform -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 /map /rvizgps" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_local_map" args="0 0 0  -0.43 0.0 0.0  /map /local_map 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="map_tf_camera_init" args="45042.921875, 49776.4609375 0  -4.67125394821167 0 0 /map /pcl_map 100" />
    
    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_pcl_map"  args="0 0 0 1.570795   0        1.570795 /pcl_map    camera_init 100" />
    <node pkg="tf" type="static_transform_publisher" name="vehicle_to_loam_camera" args="0 0 0 -1.570795 -1.570795 0        /loam_camera /vehicle   100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_vehicle" args="0 0 0 0 0 0    /vehicle /base_link  100" />
    <node pkg="tf" type="static_transform_publisher" name="velodyne_to_vehicle" args="0 0 0 0 0 0    /vehicle /velodyne  100" />

    <!-- tf -->
    <node pkg="tf" type="static_transform_publisher" name="map_2_planning_map" args="45030.37 49558.2 0 0.0 0 0 /map planning_map 100" />
    <node pkg="tf" type="static_transform_publisher" name="planning_map_2_planning_odom" args="0 0 0 0.0 0 0 planning_map planning_odom 100" />


</launch>
